body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

#game-container {
    display: inline-block;
    margin: 20px;
    
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    width: 200px;
    height: 200px;
    background-color: #67767d;
    border: 5px solid #6e1313;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
    background-color: #fff;
}

#status {
    margin-top: 20px;
    font-size: 20px;
}

#restart {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}